:root {
    --mobile-width: 375px;
    --desktop-width: 1440px;
    --primary-color-Violet: hsl(257, 40%, 49%);
    --primary-color-soft-magenta: hsl(300, 69%, 71%);
    --primary-color-white: #fff;
    --heading-font-family: 'Poppins', sans-serif;
    --body-font-family: 'Open Sans', sans-serif;
    --font-weight-600: 600;
    --font-weight-400: 400;

}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("./images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--primary-color-Violet);
    height: 80vh;
}

.container {
    padding: 3rem;
}
Header{
    margin-bottom: 2.5rem;
}
Header img {
    width: 50%;
    object-fit: contain;
}

.illustration img {
    width: 100%;
    object-fit: contain;
}

.description-header {
    text-align: center;
    font-family: var(--heading-font-family);
    font-size: 1.5rem;
    font-weight: var(--font-weight-600);
    color: var(--primary-color-white);
    margin-bottom: 1rem;
}

.description-paragraph {
    text-align: center;
    font-family: var(--body-font-family);
    font-size: 0.8rem;
    line-height: 1.6;
    font-weight: var(--font-weight-400);
    color: var(--primary-color-white);
    margin-bottom: 1.5rem;
}

.action-button {
    text-align: center;
    margin: 2rem;
}

.bt-register {
    width: 100%;
    border: 1px solid grey;
    border-radius: 3rem;
    line-height: 3;
    color: var(--primary-color-Violet);
}

.social-media {
    text-align: center;
    letter-spacing: 6px;
    padding: 1rem;
}

.social-media i {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3rem;
    height: 30px;
    width: 30px;
    padding-top: 7px;
}
.grid{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}
@media  screen and (min-width:900px) {
    body{
        background-image: url("./images/bg-desktop.svg");
    }

    Header img {
        width: 20%;
        object-fit: contain;
    }
    .grid{
       flex-direction: row;
    }
    .desciption{
        width: 50%;
        padding: 4rem;
    }
    .description-header {
        text-align: left;
        font-size: 2rem;
    }
    .description-paragraph {
        text-align: left;
        font-size: 1rem;
    }
    .action-button {
        text-align: left;
        margin: 0rem;
    }
    .bt-register {
        width: 30%;
    }
    .social-media {
        text-align: right;
    }
}

